/* Header */

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    margin: 0 20px;
}

.header-title {
    flex: 1;
}

/* Search bar */

.search-bar-container {
    flex: 3;
    margin: 0 20px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    background: #ECECF5;
    border: #ECECF5;
    width: 100%;
    box-sizing: border-box;
}

.search-bar:focus {
    outline: none;
}

.logout {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logout-btn {
    display: flex;
    align-items: center;
    background: #4120A9;
    color: #FAFAFC;
    border: 1px solid #4120A9;
    border-radius: 5px;
    justify-content: center;
    width: 60%;
}

.logout-name {
    margin-left: 7px;
    font-size: 15px;
}
