.my-posts-wrapper {
    display: flex;
    flex-direction: column;
}

.my-posts {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 1;
}

.my-posts-container {
    flex: 4;
}

.my-posts-header {
    margin-bottom: 3%;
}

.more-btn {
    border: none;
    background: none;
}
